<ion-header class="ion-no-border">
  <ion-toolbar> 
    <ion-title color="dark" size="large" class="drop">
      𝖊𝖆𝖙𝟐𝖊𝖆𝖙
    </ion-title>
      <ion-button (click)="dismiss()" [disabled]="loading" class="drop" fill="outline" slot="end" size="small" color="tertiary"><ion-icon slot="start" name="arrow-back-circle-outline"></ion-icon>volver</ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="fullheight xc">

    <ion-item-group>
      <div class="fullheight xc"> 
        <img class="car" src="/assets/media/car2.png">
      </div>


      <div class="fullheight xc" id="titulo-app">    
        <ion-label color="dark">𝖗𝖊𝖌𝖎𝖘𝖙𝖗𝖔 𝖕𝖆𝖗𝖆 𝖈𝖔𝖓𝖉𝖚𝖈𝖙𝖔𝖗𝖊𝖘</ion-label>     
      </div>
      <div class="fullheight xc">    
        <ion-label color="dark">𝖉𝖆𝖙𝖔𝖘 𝖉𝖊𝖑 𝖛𝖊𝖍𝖎́𝖈𝖚𝖑𝖔</ion-label>     
      </div>

    <form [formGroup]="ionicForm" (ngSubmit)="iniciar()">

      <ion-grid><ion-row>

      <ion-col size="5">
      <ion-item>
        <ion-label color="dark" position="stacked">marca:</ion-label>
        <ion-input [disabled]="loading" formControlName="marca" type="text" color="tertiary" placeholder="ej: bmw"></ion-input>
      </ion-item>  
      </ion-col>

      <ion-col size="6">
      <ion-item>
        <ion-label color="dark" position="stacked">modelo:</ion-label>
        <ion-input [disabled]="loading" formControlName="modelo" type="text" color="tertiary" placeholder="ej: e38"></ion-input>
      </ion-item>
      </ion-col>

      </ion-row></ion-grid>


      <ion-grid><ion-row>

      <ion-col size="5">
      <ion-item>
        <ion-label color="dark" position="stacked">placa:</ion-label>
        <ion-input [disabled]="loading" formControlName="placa" type="text" color="tertiary" placeholder="ej: AB123CD"></ion-input>
      </ion-item>  
      </ion-col>

      <ion-col size="6">
      <ion-item>
        <ion-label color="dark" position="stacked">color:</ion-label>
        <ion-input [disabled]="loading" formControlName="coloreo" type="text" color="tertiary" placeholder="ej: negro"></ion-input>
      </ion-item>
      </ion-col>

      </ion-row></ion-grid>

      <ion-grid><ion-row>
      <ion-col size="11">

      <ion-item>
        <ion-label color="dark" position="stacked">distintivos:</ion-label>
        <ion-textarea [disabled]="loading" formControlName="distintivos"  type="text" color="tertiary" placeholder="rines color azul, spoiler, vidrios no tintados"></ion-textarea>
      </ion-item>   

      </ion-col>   
      </ion-row></ion-grid>




       <div class="fullheight xc">  
        <ion-button  type="submit" [disabled]="ionicForm.invalid && loading" color="tertiary" fill="solid" size="small">confirmar<ion-spinner *ngIf="loading" name="crescent"></ion-spinner></ion-button>
       </div>
    </form>

   </ion-item-group>


  </div>

</ion-content>

