<app-header-principal></app-header-principal>
<ion-content>
  <div class="fullheight xc">
    <ion-item-group>

      <div class="fullheight xc"><ion-thumbnail class="bigger"><img src="/assets/media/chuches.png"></ion-thumbnail></div>

      <div class="fullheight xc" id="titulo-app">    
        <ion-label color="dark">𝖇𝖔𝖗𝖗𝖆𝖗 𝖕𝖗𝖔𝖉𝖚𝖈𝖙𝖔</ion-label>     
      </div>


      <ion-item>
        <ion-label color="success" position="floating"><small>nombre</small></ion-label>
        <ion-input disabled value="{{nombre}}" type="text" ></ion-input>     
      </ion-item>

      <ion-item>
          <ion-label color="success" position="stacked"><small>descripción</small></ion-label>
          <ion-textarea disabled value="{{descripcion}}" inputmode="text"></ion-textarea>         
      </ion-item>    

      <ion-item>
        <ion-label color="success" position="floating"><small>tiempo de preparación</small></ion-label>
        <ion-input  disabled value="{{tiempo}}" type="text" ></ion-input>         
      </ion-item>

      <ion-item>
        <ion-label color="success" position="floating"><small>precio</small></ion-label>
        <ion-input  disabled value="{{precio}}" type="text" ></ion-input>         
      </ion-item>

       <div class="fullheight xc">  
        <ion-button (click)="volver()" fill="outline" class="drop" size="small" color="warning" slot="start">  
          <ion-icon slot="start" name="arrow-back-circle-outline"></ion-icon>volver
      </ion-button>
         <ion-button [disabled]="loading" (click)="borrar()" fill="outline" class="drop" size="small" color="danger" slot="start">  
          <ion-icon slot="start" name="checkmark-done-circle-outline"></ion-icon>borrar<ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
      </ion-button>
       </div>


   </ion-item-group>
  </div>
</ion-content>
