<app-header-secundario></app-header-secundario>
<ion-content>

<app-fruit-spinner *ngIf="loading"></app-fruit-spinner>

    <ion-item lines="none" *ngIf="!loading">
    <div class="fullheight xc"><img class="rainbow" src="/assets/media/rainbow.gif"></div>
    </ion-item>

      <ion-card *ngIf="!loading">
        <ion-item>
            <ion-text color="{{info.coloreo}}"><h4><strong>{{info.nombre}}</strong></h4></ion-text>       
        </ion-item> 
        <ion-card-content>
        <ion-text>
          <h4><strong><u><ion-text color="{{info.coloreo}}">descripción:</ion-text> </u></strong></h4><h4> {{info.descripcion}}</h4>
        </ion-text>
        <ion-text>
          <h4><strong><u><ion-text color="{{info.coloreo}}">dirección:</ion-text> </u></strong></h4><h4> {{info.direccion}}</h4>
        </ion-text>
        <ion-text>
          <h4><strong><u><ion-text color="{{info.coloreo}}">contactos:</ion-text> </u></strong></h4><h4> {{info.contacto}}</h4>
        </ion-text>
        </ion-card-content>
      </ion-card>


    <ion-list *ngIf="!loading">
      <div class="xc"><ion-icon name="fast-food-outline"></ion-icon></div>
      <ion-card *ngFor="let pro of arr">
        <ion-item>
            <ion-text color="{{pro.color_establecimiento}}"><p><strong>{{pro.nombre_producto}} </strong><small><ion-icon name="time-outline"></ion-icon>{{pro.tiempo_espera_producto}}m</small></p></ion-text>  
        </ion-item>    
        <ion-item >
          <div class="bigger xc">
            <ion-button icon-only routerLink="/update-producto/{{pro.id_producto}}"  slot="end" color="warning"><ion-icon name="brush-outline"></ion-icon></ion-button>
            <ion-button routerLink="/delete-producto/{{pro.id_producto}}" icon-only  slot="end" color="danger"><ion-icon name="trash"></ion-icon></ion-button>
            </div>                    
        </ion-item> 
        <ion-card-content>
        <ion-text>
          <h4><strong><u><ion-text color="{{pro.color_establecimiento}}">precio:</ion-text> </u></strong></h4><h4> {{pro.precio_producto}}</h4>
        </ion-text>          
        <ion-text>
          <h4><strong><u><ion-text color="{{pro.color_establecimiento}}">descripción:</ion-text> </u></strong></h4><h4> {{pro.descripcion_producto}}</h4>
        </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-list>



   <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!loading">
    <ion-fab-button color="{{info.coloreo}}" (click)="siguiente()" size="small"><ion-icon name="add" size="small"></ion-icon></ion-fab-button></ion-fab>




</ion-content>
