<ion-header  class="ion-no-border">
  <ion-toolbar>
      <ion-title color="dark" size="large" class="drop">
      𝖊𝖆𝖙𝟐𝖊𝖆𝖙
      </ion-title>

    <ion-button (click)="logout()" class="drop" size="small" color="danger" slot="end">  
      <ion-icon slot="start" name="log-out-outline"></ion-icon></ion-button>
 
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fullheight xc">
    <ion-item-group>

        <div class="fullheight xc"><ion-thumbnail class="bigger"><img src="/assets/media/chuches.png"></ion-thumbnail></div>

      <div class="fullheight xc" id="titulo-app">    
        <ion-label color="dark">𝖊𝖉𝖎𝖙𝖆𝖗 𝖕𝖗𝖔𝖉𝖚𝖈𝖙𝖔</ion-label>     
      </div>

    <form [formGroup]="ionicForm" (ngSubmit)="editar()">

   <ion-item>
        <ion-label color="success" position="floating"><small>nombre</small></ion-label>
        <ion-input [disabled]="loading" formControlName="nombre" type="text" value="{{nombre}}"></ion-input>     
      </ion-item>

      <ion-item>
          <ion-label color="success" position="stacked"><small>descripción</small></ion-label>
          <ion-textarea [disabled]="loading" formControlName="descripcion" inputmode="text" value="{{descripcion}}"></ion-textarea>         
      </ion-item>    

      <ion-item>
        <ion-label color="success" position="floating"><small>tiempo de preparación</small></ion-label>
        <ion-input [disabled]="loading" formControlName="tiempo" type="text" value="{{tiempo}}"></ion-input>         
      </ion-item>

      <ion-item>
        <ion-label color="success" position="floating"><small>precio</small></ion-label>
        <ion-input [disabled]="loading" formControlName="precio" type="text"  value="{{precio}}"></ion-input>         
      </ion-item>

       <div class="fullheight xc">  
        <ion-button (click)="volver()" fill="outline" class="drop" size="small" color="warning" slot="start">  
          <ion-icon slot="start" name="arrow-back-circle-outline"></ion-icon>volver
      </ion-button>
         <ion-button type="submit" [disabled]="loading" fill="outline" class="drop" size="small" color="success" slot="start">  
          <ion-icon slot="start" name="checkmark-done-circle-outline"></ion-icon>editar<ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
      </ion-button>
       </div>
    </form>


         </ion-item-group>
  </div>

</ion-content>
