<ion-header>
  <ion-toolbar>
     <ion-button [disabled]="loading" (click)="dismiss()" class="drop" color="warning" slot="start">  
      <ion-icon name="arrow-undo-outline"></ion-icon></ion-button>
    <ion-text>𝖆𝖌𝖗𝖊𝖌𝖆𝖗 𝖆𝖑 𝖈𝖆𝖗𝖗𝖎𝖙𝖔</ion-text>

  </ion-toolbar>
</ion-header>

<ion-content class="fullheight xc">

<ion-list>
	<ion-list-header color="tertiary">
	 <div class="fullheight xc">
	 <img class="food-header" src="/assets/media/fast-food.png">
	</div>
	</ion-list-header>

	 <div class="fullheight xc">
	 <ion-item color="warning">

      <ion-card>
        <ion-item>
            <ion-text><p><strong>{{producto.nombre_producto}} </strong><small> <ion-icon name="time-outline"></ion-icon>{{producto.tiempo_espera_producto}}m</small></p></ion-text>  
        </ion-item> 
        <ion-card-content>


        <ion-grid><ion-row>
          <ion-col size="6">
        <ion-text>
          <h4><strong><u><ion-text>precio:</ion-text> </u></strong></h4><h4> {{producto.precio_producto}}</h4>
        </ion-text> 
        </ion-col>
        <ion-col size="6">
        <ion-text>
          <h4><strong><u><ion-text>total:</ion-text> </u></strong></h4><h4> ${{total}}</h4>
        </ion-text>
        </ion-col>
        </ion-row></ion-grid>


        <ion-text>
          <h4><strong><u><ion-text>descripción:</ion-text> </u></strong></h4><h4> {{producto.descripcion_producto}}</h4>
        </ion-text>
        <ion-text>
          <h4><strong><u><ion-text>unidades:</ion-text> </u></strong></h4>
        </ion-text>

<form [formGroup]="ionicForm" (ngSubmit)="comprar()">
        <ion-grid><ion-row>
        	<ion-col size="3">
		<ion-button [disabled]="loading" size="small" (click)="restar()" color="danger">  
	      <ion-icon name="caret-back-outline"></ion-icon></ion-button>
	  		</ion-col>

	  		<ion-col size="4" offset="2">
         <ion-input formControlName="cantidad" type="number" disabled value="{{unidades}}"></ion-input>
         </ion-col>
         	<ion-col size="3">
         <ion-button [disabled]="loading" size="small" (click)="sumar()" color="danger"><ion-icon name="caret-forward-outline"></ion-icon></ion-button>
	  		</ion-col>

		</ion-row></ion-grid>

        <div class="fullheight xc">
   <ion-item>
     <ion-button type="submit" [disabled]="loading" color="success" slot="start">  
        <ion-icon name="cart"></ion-icon>guardar en carrito<ion-spinner *ngIf="loading" name="crescent"></ion-spinner></ion-button>
   </ion-item>
  </div>
     </form>

        </ion-card-content>
      </ion-card>

	</ion-item>
	 </div>



 </ion-list>

</ion-content>
